.userContainer {
  .pageFirstLine {
    margin: 0;

    .pageFirstLine_title {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 10px;
    }

    .pageFirstLine_content {
      font-size: 13px;
      line-height: 20px;
      max-width: 512px;
      margin-bottom: 24px;

      span {
        color: #3f51b5;
      }

      span.firstSpan {
        text-decoration: underline;
      }
    }
  }

  .table-container {
    .titleNameStyle {
      color: #000;
    }

    .titleNameStyle:hover {
      color: #3f51b5;
      text-decoration: underline;
    }
  }
}
.c7n-user-upload-process {
  width: 50px;
  height: 50px;
  background: white;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 10000;
  border-radius: 50%;
  line-height: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.56);
  user-select: none;
}
