.c7n-iam-dashboard-failedsaga-date-wrap {
  display: flex;

  .c7n-report-time-btn {
    display: inline-block;
    margin-right: 10px;
    .ant-btn {
      padding: 0 8px;
    }

    button {
      height: 25px;
      line-height: 25px;
    }
  }

  .c7n-iam-apioverview-time-pick {
    height: 32px;
    width: 214px;
    line-height: 32px;
    border-radius: 0 2px 2px 0;

    .ant-calendar-picker-input {
      margin-bottom: 3px;
      padding-left: 24px;
    }

    .ant-calendar-range-picker-input {
      width: 80px;
    }

    .ant-calendar-picker-icon {
      left: 8px;
      font-size: 20px;
    }

    .ant-calendar-underline {
      display: none;
    }

    &-selected {
      background: rgba(0, 0, 0, .08);
    }
  }
}
