.c7n-execution-record-status {
  color: white;
  padding: 1px 3px;
  border-radius: 2px;
  font-size: 12px;

  &.failed {
    background: #f44336;
  }
  &.running {
    background: #4d90fe;
  }
  &.completed {
    background: #1BC123;
  }
}
