$drop-gradient: rgba(140, 158, 255, 0.16);

.input-icon {
  &-popover {
    width: 512px;
    .ant-popover-inner-content {
      padding: 0;
    }
  }
  &-header {
    background-color: #fafafa;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding: 17px;
    .ant-input-underline {
      display: none;
    }
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    padding: 11px 1px;
  }
  &-footer {
    border-top: 1px solid rgba(0, 0, 0, .12);
    padding: 8px;
    text-align: right;
  }
  &-cell {
    width: 88px;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 12px;
    margin: 0 7px;
    cursor: pointer;
    &-active {
      background-color: rgba(0, 0, 0, 0.06);
      border-radius: 2px;
    }
  }
}

.permission-list {
  p {
    color: rgba(0, 0, 0, 0.54);
    font-size: 10px;
  }
  div > span {
    display: inline-block;
    margin-top: 12px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    padding: 4px 12px;
  }
}

.drag-cell {
  cursor: move;
}

.drop-row {
  &-before {
    box-shadow: 0 16px 20px $drop-gradient inset, 0 0 0 $drop-gradient inset;
  }
  &-in {
    box-shadow: 0 12px 20px $drop-gradient inset, 0 -12px 20px $drop-gradient inset;
  }
  &-after {
    box-shadow: 0 0 0 $drop-gradient inset, 0 -16px 20px $drop-gradient inset;
  }
}
