.RealName_title {
  font-size: 18px;
  line-height: 28px;
}

.formIconInfo {
  position: absolute;
  top: 0;
  font-size: 20px;
  color: gray;
}

.hrLine {
  width: 536px;
  margin: 0 -30px 12px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
