.c7n-iam-orgstatistics {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;

  &-btns {
    display: inline-block;
    width: 34%;

    button {
      text-align: left;
      width: 100%;
      display: block;

      span {
        display: block;
        width: 90%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    button.ant-btn-flat:hover {
      background: rgba(140, 158, 255, 0.16);
    }
  }

  &-chart {
    display: inline-block;
    width: 66%;
  }
}

.c7n-iam-orgstatistics-type {
  margin-bottom: 2px;
}

.c7n-iam-orgstatistics-pro {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.65);
}

.c7n-iam-orgstatistics-tooltip {
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  width: 10px;
  height: 10px;
}
