.submit-wrap {
  button {
    margin-right: 10px;
  }
}

.client-detail {
  line-height: 12px;
}

.detail-items {
  margin-bottom: 20px;
  font-size: 12px;
}

.detail-content {
  color: rgb(0, 0, 0);
}

.detail-title {
  height: 12px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.55);
}

.detail-input,
.detail-input .ant-select-selection {
  border: 0 !important;
  color: #000;
}
