.c7n-api-table {
  .methodTag {
    display: inline-block;
    line-height: 1.6;
    margin-left: 28px;
    padding: 0 4px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
  }
  > .ant-spin-nested-loading {
    height: 500px;
  }
}

.c7n-apitest-get {
  background: #4d90fe;
}

.c7n-apitest-post {
  background: #00bfa5;
}

.c7n-apitest-put {
  background: #ffb100;
}

.c7n-apitest-delete {
  background: #f44336;
}

.c7n-apitest-options {
  background: #743be7;
}

.c7n-apitest-patch {
  background: #ff7043;
}

.c7n-api-test {
  &-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 296px;
    overflow: hidden;
  }
  .string,
  .number {
    color: #800;
  }
  .boolean,
  .undefined,
  .null {
    color: #00bfa5;
  }
  .comment {
    color: rgba(0, 0, 0, 0.56);
  }
  .title {
    white-space: nowrap;
  }
  h5 {
    font-size: 16px;
    margin-bottom: 14px;
  }

  .c7n-interface-detail {
    margin-top: 8px;
    .c7n-interface-info {
      width: 512px;
    }

    .c7n-request-params {
      margin-top: 32px;

      .body-container {
        height: 120px;
        overflow-y: scroll;
      }
    }

    .c7n-response-data {
      margin-top: 32px;

      .response-data-container {
        padding: 5px;
        background: #f1f9ff;
      }
    }
  }

  .c7n-interface-test {
    margin-top: 8px;

    .c7n-interface-test-response-params {
      .body-container {
        height: 120px;
        overflow-y: scroll;
      }

      .uploadContainer {
        position: relative;
        height: 32px;

        input[type='file'] {
          position: absolute;
          left: 38px;
          top: 5px;
          z-index: 1;
        }

        button {
          position: absolute;
          z-index: 3;
        }

        .emptyMask {
          position: absolute;
          z-index: 2;
          width: 109px;
          height: 31px;
          top: 0;
          background: white;
        }
      }

      .ant-form-item {
        margin-bottom: 0;
      }

      .ant-input-placeholder {
        color: #d50000;
      }

      .ant-form-explain {
        display: none;
      }

      .paramTextarea::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #d50000;
      }

      .paramTextarea:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #d50000;
      }

      .paramTextarea::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #d50000;
      }

      .paramTextarea::-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #d50000;
      }

      .errorTextarea::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #d50000;
      }

      .errorTextarea:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #d50000;
      }

      .errorTextarea::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #d50000;
      }

      .errorTextarea::-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #d50000;
      }
    }

    .c7n-url-container {
      margin-top: 30px;

      .c7n-authorize-info {
        margin-bottom: 20px;

        .info {
          font-size: 16px;
          color: #000;
        }

        button {
          margin-left: 50px;
        }
      }

      .method {
        display: inline-block;
        padding: 8px 12px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 2px 0 0 2px;
        font-size: 13px;
        color: #fff;
      }

      input {
        outline: none;
        display: inline-block;
        margin-left: 0;
        margin-right: 24px;
        width: 64%;
        padding: 7px 0 7px 14px;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        border-left: none;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }

    .c7n-response-container {
      margin: 32px 1px 1px 3px;
      padding: 24px 16px 30px 16px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.20), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

      pre {
        margin-bottom: 0;
        overflow: visible;
      }

      .c7n-response-code {
        .response-code-container {
          height: 60px;
          margin-top: 12px;
          background: #f1f9ff;
          line-height: 60px;
          color: #444;
          font-size: 14px;
          text-indent: 16px;
        }
      }

      .c7n-response-body {
        margin-top: 24px;
        position: relative;

        .response-body-container {
          width: 100%;
          max-height: 228px;
          padding: 16px;
          overflow: auto;
          background: #f1f9ff;
          white-space: nowrap;
          font-size: 14px;

          &:hover {
            i.icon.icon-library_books {
              display: inline-block;
            }
          }
        }
        i.icon.icon-library_books {
          position: absolute;
          top: 50px;
          right: 16px;
          color: #3f51b5;
          cursor: pointer;
          font-size: 25px;
          background: white;
          display: none;
        }
      }

      .c7n-curl {
        margin-top: 24px;
        position: relative;

        .curl-container {
          width: 100%;
          max-height: 228px;
          margin-top: 12px;
          line-height: 1.5;
          padding: 16px;
          white-space: nowrap;
          overflow: auto;
          background: #f1f9ff;
          color: #444;
          font-size: 14px;

          &:hover {
            i.icon.icon-library_books {
              display: inline-block;
            }
          }
        }

        i.icon.icon-library_books {
          position: absolute;
          top: 50px;
          right: 16px;
          color: #3f51b5;
          cursor: pointer;
          font-size: 25px;
          background: white;
          display: none;
        }
      }
    }
  }
}

.ant-table-row-expand-icon {
  margin-right: 8px;
}

.c7n-apitest-modal {
  position: relative;
  padding-top: 26px;
  text-align: center;

  .c7n-apitest-modal-icon {
    height: 30px;
    width: 41px;
    margin-right: 8px;
    // background-image: url('./icon/choerodon_logo_color.svg');
    background-repeat: no-repeat;
    background-size: auto 31px;
    line-height: 30px;
    font-size: 22px;
  }

  .c7n-apitest-modal-icon-content {
    display: flex;
    justify-content: center;
  }

  .c7n-apitest-modal-default-icon {
    background-image: url('./icon/choerodon_logo_color.svg');
  }

  .c7n-apitest-modal-icon-title {
    color: rgba(0, 0, 0, 0.65);
    font-size: 22px;
  }

  .c7n-apitest-modal-title {
    margin-top: 22px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.65);
  }

  form {
    margin-top: 30px;
    text-align: start;
    padding: 0 18px;
  }

  .c7n-apitest-modal-btn-group {
    position: absolute;
    top: 300px;
    left: 18px;
    display: flex;
    justify-content: space-between;
    line-height: 32px;
    width: 370px;
    margin: 0 auto;

    button {
      width: 120px;
    }
  }
}

.c7n-iam-TextEditToggle-text {
  cursor: text;
  position: relative;
  padding: 0 20px 2px 0;
}

.c7n-iam-TextEditToggle-text .c7n-iam-TextEditToggle-text-icon {
  color: rgba(0, 0, 0, .65);
  display: none;
}

.c7n-iam-TextEditToggle-text:hover .c7n-iam-TextEditToggle-text-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 10;
  transform: translateY(-50%);
}
.ant-input-focus + .c7n-iam-TextEditToggle-text-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 10;
  transform: translateY(-50%);
}

.c7n-iam-TextEditToggle-edit-icon {
  // display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: rgba(0, 0, 0, .65);
  background: rgba(0, 0, 0, 0.08);
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

.c7n-iam-TextEditToggle-edit {
  .ant-form-item {
    padding: 0;
    margin: 0;
  }
}
