.pagenation {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.content-show {
  width: 30%;
  border-left: 1px solid #d3d3d3;
}

.content-wrapper {
  display: flex;

  .page-show {
    flex-basis: 100%;
  }

  .page-hidden {
    flex-basis: 70%;
  }
}
