.PasswordPolicy {
  p {
    margin: 0;
  }

  .UnderPageHeadStyle {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
  }

  .policyHeader {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
  }

  .policyHeader2 {
    margin-top: 1rem;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;

    span {
      text-decoration: underline;
      color: #3f51b5;
    }
  }

  .policyType {
    //margin-top: 1rem;
    //display: flex;
    //align-items: center;

    .typesContainer {
      display: flex;
      margin-left: 1rem;

      .typeItems {
        width: 115px;
        height: 30px;
        font-size: 14px;
        color: #3f51b5;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

.password-policy-btngroup {
  height: 56px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  border-top: 1px solid rgba(0, 0, 0, 0.12);

  button + button {
    margin-left: 10px;
    margin-bottom: 0;
  }
}
