.c7n-iam-dashboard-project {
  section {
    padding: 0 20px;
  }
  label,
  p {
    margin-left: 33px;
    line-height: 20px;
    font-size: 13px;
  }
  p {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 18px;
  }
}
