.c7n-iam-dashboard-document {
  ul {
    padding: 0 20px;
    list-style: none;
  }
  li {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 18px;
    a {
      vertical-align: middle;
      margin-left: 33px;
      color: inherit;
    }
  }
}
