.c7n-iam-dashboard-project {
  dl {
    padding: 0 20px;
  }
  dt,
  dd {
    margin-left: 33px;
    line-height: 20px;
    font-size: 13px;
  }
  dd {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 18px;
  }
}
