.c7n-permission-info {
  &-code {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 296px;
    overflow: hidden;
  }

  &-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 296px;
    overflow: hidden;
  }
}
