.c7n-registerorg-bg {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 9.8vh;
  padding-bottom: 3vh;
  background: url('./icon/bg.svg') no-repeat;
  background-size: cover;

  .c7n-registerorg-container {
    width: 75%;
    height: 82vh;
    padding: 6.8vh 80px 0;
    margin: auto;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);

    &-icon {
      height: 30px;
      width: 41px;
      margin-right: 8px;
      // background-image: url('./icon/choerodon_logo_color.svg');
      background-repeat: no-repeat;
      background-size: auto 31px;
      line-height: 30px;
      font-size: 22px;
    }

    &-icon-content {
      display: flex;
      justify-content: center;
    }

    &-default-icon {
      background-image: url('./icon/choerodon_logo_color.svg');
    }

    &-icon-title {
      color: rgba(0, 0, 0, 0.65);
      font-size: 22px;
    }

    &-title {
      margin: 2vh auto 6vh;
      text-align: center;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  .c7n-registerorg-content {
    margin: 5.8vh auto 0;
    width: 512px;
    position: relative;

    .c7n-registerorg-btn-group {
      position: absolute;

      button:first-child {
        margin-right: 12px;
      }
    }

    .c7n-registerorg-captcha-btn {
      float: right;
      margin-top: 4px;
    }

    .c7n-registerorg-form-item {
      display: inline-block;

      &-left {
        margin-right: 18px;
      }
    }
  }

  .c7n-registerorg-content-fourth {
    margin: 0 auto;
    width: 370px;

    &-title {
      margin-top: 64px;
      text-align: center;
      vertical-align: middle;

      .c7n-registerorg-success-icon {
        color: #3f51b5;
        transform: scale(2.3);
      }

      span {
        margin-left: 24px;
        vertical-align: middle;
        font-size: 24px;
      }
    }

    &-msg {
      margin-top: 25px;
      text-align: center;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.65);
    }

    button {
      margin-top: 80px;
      width: 370px;
    }
  }

  .c7n-registerorg-copyright {
    position: absolute;
    bottom: 3.1vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.43);
    z-index: 0;
  }
}
